
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e4e7dd;
    color: #333;
}

header {
    background-color: #6f4caf;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #0a0b0e;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ddbdf0;
    color: black;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 80px;
}

.image-container {
    text-align: center;
    margin: 20px 0;
    width: 400px;
    height: 400px;
    padding: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
